# Node modules
node_modules/

# TypeScript build output
dist/
build/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS-specific files
.DS_Store
Thumbs.db

# Optional cache/tools
.cache/
coverage/
.vscode/
.idea/

# ts-node dev temporary files
*.tsbuildinfo

/src/generated/prisma
